.topics {
	display: flex;
	flex-wrap: wrap;
	width: inherit;
	height: inherit;
	align-items: center;
	justify-content: center;
}
#topics {
	font-size: 2em;
	font-weight: 600;
	margin: 40px 10px;
}
.card {
	width: 170px;
	height: 170px;
	color: #fff;
	padding: 10px;
	margin: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
	cursor: pointer;
	transform: scale(1.1);
}
@media (max-width: 840px) {
	.card {
		width: 130px;
		height: 130px;
		font-size: 1.1em;
	}
	#topics {
		font-size: 1.5em;
	}
}

.card0 {
	border-radius: 50px 0px 50px 50px;
	background-color: #52cfd9;
}

.card1 {
	border-radius: 0px 50px 50px 50px;
	background-color: #3096e1;
}

.card2 {
	border-radius: 50px 50px 0px 50px;
	background-color: #ff7b68;
}

.card3 {
	border-radius: 50px 50px 50px 0px;
	background-color: #ffb34f;
}

.card4 {
	border-radius: 50px 0px 50px 50px;
	background-color: #91a8ff;
}

.card5 {
	border-radius: 0px 50px 50px 50px;
	background-color: #f0a6ca;
}
